@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
    background: #d1ccc0;
    width: 100%;
}

.sect{
    display: flex;
    align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
    background: #d1ccc0;
    width: 100%;
    padding-top: 10vh;
    padding-bottom:10vh;
}

.footer{
    display: flex;
    align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
    background: #d1ccc0;
    width: 100%;
    padding-top: 20vh;
    padding-bottom:2vh;
}

.footer p{
    font-family: 'Roboto Mono', monospace;
    font-size: 15px;
}

.row{
    width:100%;
}

.profile img{
    width:90%;
    border-radius: 5%;
}

section h1 {
    font-size: 140px;
    font-family: 'Bebas Neue', cursive;
    color: #854242;
    line-height: 0.9;
}

section h2{
    font-size: 50px;
    font-family: 'Bebas Neue', cursive;
    line-height: 0.9;
    color: #3b3b3b;
}

section p{
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    color: #3b3b3b;
}

section ul{
    font-family: 'Poppins', sans-serif;
    list-style: inside url("chevron_right.png");
}

.reveal{
    position: relative;
    transform: translateY(70px);
    opacity:0;
    transition: all 0.7s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity:1;
}

.reveal-first{
    position: relative;
    transform: translateY(70px);
    opacity:0;
    transition: all 0.7s ease;
}

.reveal-first.active{
    transform: translateY(0px);
    opacity:1;
}

.reveal-second{
    position: relative;
    transform: translateY(70px);
    opacity:0;
    transition: all 0.7s ease;
    transition-delay: 0.2s;
}

.reveal-second.active{
    transform: translateY(0px);
    opacity:1;
}

.reveal-third{
    position: relative;
    transform: translateY(70px);
    opacity:0;
    transition: all 0.7s ease;
    transition-delay: 0.4s;
}

.reveal-third.active{
    transform: translateY(0px);
    opacity:1;
}

.reveal-img{
    position: relative;
    transform: translateY(70px);
    opacity:0;
    transition: all 0.7s ease;
    transition-delay: 0.8s;
}

.reveal-img.active{
    transform: translateY(0px);
    opacity:1;
}

.reveal-button{
    position: relative;
    transform: translateY(70px);
    opacity:0;
    transition: all 0.7s ease;
    transition-delay: 1.2s;
}

.reveal-button.active{
    transform: translateY(0px);
    opacity:1;
}

.contact-button {
    text-decoration: none;
    background-color: #d1ccc0;
    border: 2px solid #854242;
    color: #854242;
    font-size:18px;
    font-family: 'Arvo', sans-serif;
    padding: 15px;
    transition-duration: 0.4s;
    cursor:pointer;
    border-radius: 3px;
}

.contact-button:hover {
    background-color: #854242;
    color: #d1ccc0;
}

.link{
    text-decoration: none;
    color: #3b3b3b;
    font-size:60px;
}

.link:hover {
    color: #854242;
}

.contacts {
     word-spacing:30px;
}

.contacts-container {
    text-align:center;
}

.header{
     height: 70px;
     position: fixed;
     width: 100vw;
     background-color: #2b2b2b;
     top: 0;
     left: 0;
     display: table;
     z-index: 15;
}
.header-title{
     font-family: 'Bebas Neue', sans-serif;
     font-size: 35px;
     display: table-cell;
     padding-left: 4vw;
     vertical-align: middle;
     color: #d1d1d1;
}

.top {
     font-size: 30px;
     display: table-cell;
     vertical-align: middle;
     padding-right: 4vw;
     text-align: right;
     font-family: 'Bebas Neue', sans-serif;
     font-size: 20px;
     word-spacing: 20px;
}

.title-link{
    text-decoration: none;
    color: #d1d1d1;
    font-size:25px;
}

.title-link:hover {
    color: #854242;
}

.cv-button {
    background-color: #2b2b2b;
    border: solid #d1d1d1;
    color: #d1d1d1;
    font-size:25px;
    font-family: 'Bebas Neue', sans-serif;
    padding: 2px 15px;
    transition-duration: 0.4s;
    cursor:pointer;
    border-radius: 3px;
}

.cv-button:hover {
    border: solid #854242;
    color: #854242;
}

.tech {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

.card-img{
    height:auto;
    width: 100%;
}

.card-title{
    font-size: 35px;
    font-family: 'Bebas Neue', cursive;
}

.card-link{
    text-decoration: none;
    color: #2b2b2b
}

.card-link:hover{
    text-decoration: none;
    color: #854242;
}

h3{
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.img-container{
    display:flex;
    align-items: center;
    position: relative;
    width:100%;
    height:100%;
}

.img-container:hover .image {
  opacity: 0.3;
}

.img-container:hover .middle {
  opacity: 1;
}

.visit-button{
    background: #3b3b3b;
    color: white;
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    padding: 10px;
    border-radius: 10%;
    border:none;
}

.gaming-card{
    display: flex;
    align-items: center;
}

.gaming-card img {
    width:100%;
    height: auto;
}

.gaming-card-text{
    margin-top: 30px;
    margin-bottom: 30px;
    background: #D4D4D4;
}

.gaming-card-text a{
    text-decoration: none;
    color: #854242;
}

.gaming-card-text h3{
    padding-top: 10px;
}

.gaming-card-text p {
    padding-left: 10px;
}

.gaming-card-text span {
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
}

@media (max-width:1080px){
    img{
        max-width: 150%;
    }

    .home{
        padding-left: 10vw;
        padding-right: 10vw;
    }

    .sect{
        padding-left: 4vw;
        padding-right: 4vw;
    }
    section h1 {
        font-size: 90px;
        font-family: 'Bebas Neue', cursive;
        color: #854242;
        line-height: 0.9;
    }

    section h2{
        font-size: 40px;
        font-family: 'Bebas Neue', cursive;
        line-height: 0.9;
        color: #3b3b3b;
    }
}

@media (max-width:768px){
    .panda{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    .profile{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }

    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    section h1 {
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    color: #854242;
    line-height: 0.9;
}

    section h2{
        font-size: 35px;
        font-family: 'Bebas Neue', cursive;
        line-height: 0.9;
        color: #3b3b3b;
    }

    section p{
        font-size:17px;
        font-family: 'Poppins', sans-serif;
        color: #3b3b3b;
    }

    .header{
        visibility:hidden;
    }

    .link{
        font-size: 40px;
    }
}