@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins&family=Roboto+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section{
    height: 100vh;
    display: flex;
    align-items: center;
    padding-left: 20vw;
    padding-right: 20vw;
    background: #d1ccc0;
    width: 100%;
}

.row{
    width:100%;
}

img{
    width:100%;
    border-radius: 50%;
}

section h1 {
    font-size: 140px;
    font-family: 'Bebas Neue', cursive;
    color: #854242;
    line-height: 0.9;
}

section h2{
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    line-height: 0.9;
    color: #3b3b3b;
}

section p{
    font-size:20px;
    font-family: 'Poppins', sans-serif;
    color: #3b3b3b;
}

section ul{
    font-family: 'Poppins', sans-serif;
    list-style: inside url("chevron_right.png");
}

.reveal{
    position: relative;
    transform: translateY(70px);
    opacity:0;
    transition: all 0.7s ease;
}

.reveal.active{
    transform: translateY(0px);
    opacity:1;
}

.contact-button {
    text-decoration: none;
    background-color: #d1ccc0;
    border: 2px solid #854242;
    color: #854242;
    font-size:18px;
    font-family: 'Arvo', sans-serif;
    padding: 15px;
    transition-duration: 0.4s;
    cursor:pointer;
    border-radius: 3px;
}

.contact-button:hover {
    background-color: #854242;
    color: #d1ccc0;
}

.link{
    text-decoration: none;
    color: #3b3b3b;
    font-size:80px;
}

.link:hover {
    color: #854242;
}

.contacts {
     word-spacing:30px;
}

.contacts-container {
    text-align:center;
}

.header{
     height: 70px;
     position: fixed;
     width: 100vw;
     background-color: #2b2b2b;
     top: 0;
     left: 0;
     display: table;
     z-index: 15;
}
.header-title{
     font-family: 'Bebas Neue', sans-serif;
     font-size: 35px;
     display: table-cell;
     padding-left: 4vw;
     vertical-align: middle;
     color: #d1d1d1;
}

.top {
     font-size: 30px;
     display: table-cell;
     vertical-align: middle;
     padding-right: 4vw;
     text-align: right;
     font-family: 'Bebas Neue', sans-serif;
     font-size: 20px;
     word-spacing: 20px;
}

.title-link{
    text-decoration: none;
    color: #d1d1d1;
    font-size:25px;
}

.title-link:hover {
    color: #854242;
}

.cv-button {
    background-color: #2b2b2b;
    border: solid #d1d1d1;
    color: #d1d1d1;
    font-size:25px;
    font-family: 'Bebas Neue', sans-serif;
    padding: 5px 15px;
    transition-duration: 0.4s;
    cursor:pointer;
    border-radius: 3px;
}

.cv-button:hover {
    background-color: #d1d1d1;
    border: solid #854242;
    color: #854242;
}

.tech {
    font-family: 'Roboto Mono', monospace;
}

@media (max-width:1080px){
    img{
        max-width: 120%;
    }
    section{
        padding-left: 2vw;
        padding-right: 2vw;
    }
}

@media (max-width:768px){
    img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    section h1 {
    font-size: 70px;
    font-family: 'Bebas Neue', cursive;
    color: #854242;
    line-height: 0.9;
}

    section h2{
        font-size: 35px;
        font-family: 'Bebas Neue', cursive;
        line-height: 0.9;
        color: #3b3b3b;
    }

    section p{
        font-size:17px;
        font-family: 'Poppins', sans-serif;
        color: #3b3b3b;
    }

    .header{
        height: 35px;
    }

    .title-link{
        font-size: 20px;
    }

    .cv-button {
        font-size: 20px;
    }

    .header-title{
        visibility:hidden;
    }

    .link{
        font-size: 40px;
    }
}